.faicons {
  text-align: center;
  vertical-align: middle;
  padding-left: 0.65rem;
  padding-right: 0px;
  cursor: pointer;
}

.navside {
  width: 320px;
  height: 100%;
  display: inline-flex;
  overflow-x: hidden;
}

.mainside {
  width: calc(100vw - 320px);
  height: 100vh;
  margin-top: 8px;
  margin-left: -10px;
  display: inline-flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.mainside.withRightPanel {
  width: calc(100vw - 320px - 320px);
  /* Left sidebar + Right sidebar */
}

.navsidecollapse {
  width: 47px;
  height: 100%;
  display: inline-flex;
  overflow-x: hidden;
}

.mainsidecollapse {
  width: calc(100vw - 57px);
  height: 100vh;
  overflow-x: hidden;
  justify-content: center;
  margin-top: 8px;
  margin-left: 5px;
  display: inline-flex;
  transition: all 0.3s ease;
}

.mainsidecollapse.withRightPanel {
  width: calc(100vw - 57px - 320px);
  /* Collapsed left + Right sidebar */
}

.rightSidePanel {
  width: 320px;
  height: calc(100vh - 50px);
  position: fixed;
  right: 0;
  top: 25px;
  /* Below header */
  background-color: #252526;
  border-left: 1px solid #3e3e42;
  z-index: 50;
  display: flex;
  flex-direction: column;
}